<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="/data/log"/>
    <!--简单日志-->
    <appender name="simpleOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/tomatotodolist/samplelog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/tomatotodolist/samplelog.log.%d.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{80} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="org.rambosoft.tomatoTodo.apiAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/tomatotodolist/apiController.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/tomatotodolist/apicontroller.log.%d.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{80} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender name="org.rambosoft.tomatoTodo.service.impl.PersonServiceImplAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/tomatotodolist/personService.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/tomatotodolist/personService.log.%d.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{80} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <!--标准输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{80} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <logger name="samplelog">
        <level value="INFO"/>
        <appender-ref ref="simpleOUT"/>
    </logger>
    <logger name="org.rambosoft.tomatoTodo.service.impl.PersonServiceImpl">
        <level value="INFO"/>
        <appender-ref ref="org.rambosoft.tomatoTodo.service.impl.PersonServiceImplAppender"/>
    </logger>
    <logger name="org.rambosoft.tomatoTodo.api.PersonController">
        <level value="INFO"/>
        <appender-ref ref="org.rambosoft.tomatoTodo.apiAppender"/>
    </logger>
    <logger name="ROOT">
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>